extends layout

block content
	h1 #{title}
	p #{blog.body}
	p #{blog.published}
	a(href='/') Home
	if username
		p
		a(href='/logout') Log Out
		p Logged in as: #{username}
	else
		p
		a(href='/login') Login
		p
		a(href='/signup') Sign Up
