extends layout

block content
	h1= title
	p Welcome to #{title}
	each entry in entries
		if entry
			a(href='/article/' + entry.order) #{entry.title}
			p
	form(action='/add_post',method='post')
		button(class='btn', data-action='add_post') Add Post	

